:root {
  --dark-blue: #2a254b;
  --light-blue: #726e8d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
*::selection {
  background-color: var(--dark-blue);
  color: white;
}
a,
ul,
li,
button,
input {
  text-decoration: none;
  background: none;
  list-style-type: none;
  outline: none;
  border: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* ======================== global  */
.nav {
  padding: 20px 28px;
}
.nav-content {
}
.nav-content__top {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.nav-search {
  align-content: center;
}
.nav-logo {
  /* font-family: Clash Display; */
  font-size: 24px;
  font-weight: 400;
  line-height: 29.52px;
  color: var(--dark-blue);
}
.nav-bascet {
  display: flex;
  align-items: center;
  gap: 16px;
}
.nav-content__bottom {
  padding-top: 20px;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 44px;
}
.nav-link {
  /* font-family: Satoshi; */
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  cursor: pointer;
  color: var(--light-blue);
  transition: all 0.3s linear;
}
.nav-link:hover {
  color: var(--dark-blue);
}

.menu {
  display: none;
}
.nav-search-m {
  display: none;
}

@media screen and (max-width: 800px) {
  .nav {
    padding: 20px 24px;
  }
  .nav-links {
    gap: 20px;
  }
}
@media screen and (max-width: 650px) {
  .menu {
    display: block;
  }
  .nav-content__bottom {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .nav-search-m {
    display: block;
  }
  .nav-search {
    display: none;
  }
  .nav-shop {
    display: none;
  }
  .nav-user {
    display: none;
  }
}

/* ================================== hero */

.header {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 24px;
  padding-right: 24px;
}
.header-content {
  display: flex;
}
.header-left {
  background-color: var(--dark-blue);
  color: white;
  padding: 60px;
  flex: 3;
}
.header-right {
  flex: 2;
}

.header-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-title {
  /* font-family: Clash Display; */
  font-size: 32px;
  font-weight: 400;
  line-height: 44.8px;
  max-width: 513px;
  padding-bottom: 41px;
}
.header-btn {
  background-color: #494565;
  padding: 16px 32px 16px 32px;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  cursor: pointer;
}
.header-btn:hover {
  background-color: #494565d0;
}
.header-text {
  max-width: 610px;
  padding-top: 196px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.header-btn-m {
  display: none;
  width: 100%;
  text-align: center;
  margin-top: 32px;
}
@media screen and (max-width: 800px) {
  .header-right {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .header-btn {
    display: none;
  }
  .header-btn-m {
    display: block;
  }
  .header-text {
    padding-top: 80px;
  }
  .header {
    padding: 0;
  }
  .header-left {
    padding: 40px 24px;
  }
}

/* =============================== Brand section */

.brand {
  padding-top: 60px;
  padding-bottom: 80px;
}
.brand-title {
  /* font-family: Clash Display; */
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
  padding-bottom: 51px;
}
.brand-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.brand-card {
  max-width: 270px;
}
.brand-card__icon {
  padding-bottom: 16px;
}
.brand-cart__title {
  /* font-family: Clash Display; */
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  padding-bottom: 8px;
}
.brand-cart__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media screen and (max-width: 1350px) {
  .brand .container {
    padding: 0 24px;
  }
  .brand-card {
    padding-bottom: 36px;
  }
}
@media screen and (max-width: 600px) {
  .brand {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .brand-title {
    text-align: left;
  }
  .brand-card {
    max-width: 100%;
  }
}

/* =========== brand */

.ceramics-title {
  font-size: 32px;
  font-weight: 400;
  line-height: 39.36px;
  color: rgba(42, 37, 75, 1);
  /* margin-top: 80px; */
}
.ceramics-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 33px;
  justify-content: center;
}

.ceramics-card img {
  width: 305px;
  height: 375px;
}

.ceramics-card p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.ceramics-desc {
  margin-top: 24px;
}

.ceramics-price {
  margin-top: 5px;
}

.ceramics-btn {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(42, 37, 75, 1);
  padding: 16px 32px;
  background-color: rgba(249, 249, 249, 1);
  margin-top: 35px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 72px;
  margin-top: 58px;
  cursor: pointer;
}

.ceramics-btn:hover {
  background-color: rgb(238, 233, 233);
}

@media screen and (max-width: 1350px) {
  .ceramics .container {
    padding: 0 24px;
  }
  .ceramics-card {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 1040px) {
  .ceramics-title {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .ceramics-card img {
    width: 163px;
    height: 201px;
    margin: 0 auto;
    text-align: center;
  }

  .ceramics-card p {
    text-align: left;
    font-size: 16px;
    display: block;
  }

  .ceramics-btn {
    padding: 10px 40px;
    padding: 10px 40px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .ceramics-desc {
    margin-top: 0px;
  }
}

@media screen and (max-width: 410px) {
  .ceramics-card {
    margin: 0 auto;
  }
  .cermics-title {
    text-align: center;
  }
}

/*=======================================================*/

.products-content {
}
.products-title {
  padding-top: 64px;
  font-size: 32px;
  font-weight: 400;
  line-height: 44.8px;
  padding-left: 24px;
}

.products-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  justify-content: center;
  top: 25px;
  gap: 20px;
}
.products-card .img2,
.img3 {
  width: 305px;
  height: 375px;
}

.products-card .img1 {
  width: 630px;
  height: 375px;
}
.products-desc {
  padding-top: 24px;
}
.products-price {
  padding-top: 8px;
}
.products-btn {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(42, 37, 75, 1);
  padding: 16px 32px;
  background-color: rgba(249, 249, 249, 1);
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 58px;
  margin-bottom: 72px;
  cursor: pointer;
}

.products-btn:hover {
  background-color: rgb(238, 233, 233);
}

@media screen and (max-width: 1040px) {
  .products .container {
    padding: 0 24px;
  }

  .products-title {
    text-align: center;
  }
}
@media screen and (max-width: 669px) {
  .products .container {
    padding: 0 24px;
  }

  .products-card .img1 {
    width: 300px;
    height: 375px;
  }

  .products-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 24.6px;
  }
}

@media screen and (max-width: 600px) {
  .products-card {
    margin: 0 auto;
    padding-top: 20px;
  }
  .products-card .img2 {
    width: 163px;
    height: 201px;
    margin: 0 auto;
  }

  .products-card .img1 {
    width: 163px;
    height: 201px;
    margin: 0 auto;
  }

  .products-card .img3 {
    width: 163px;
    height: 201px;
    margin: 0 auto;
  }

  .products-card p {
    text-align: left;
    font-size: 16px;
    padding-top: 10px;
  }

  .products-btn {
    padding: 8px 20px;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 15px;
  }

  .products-desc {
    padding-top: 10px;
  }

  .products-cards {
    margin-top: 0px;
  }
}

@media screen and (max-width: 415px) {
  .products-card {
    margin: 0 auto;
  }
  .products-title {
    text-align: center;
  }
}

/* ============== products */

.benefits {
  background-color: rgba(249, 249, 249, 1);
  padding-bottom: 65px;
  padding-top: 52px;
}
.benefits .container {
  padding: 0 24px;
  padding-top: 52px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 1);
}
.benefits-content {
}
.benfits-title {
  color: rgba(42, 37, 75, 1);
  font-size: 36px;
  font-weight: 400;
  line-height: 50.4px;
  text-align: center;
  padding-top: 68px;
}
.beneftits-desc {
  color: rgba(42, 37, 75, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding-top: 16px;
}
.benefits-bottom {
  text-align: center;
  padding-top: 72px;
  padding-bottom: 54px;
}
.benefits-input {
  background: rgba(249, 249, 249, 1);
  padding: 19px 205px 19px 32px;
  margin-right: 0px;
}
.benefits-btn {
  padding: 11.5px 32px 14.5px 32px;
  gap: 10px;
  opacity: 0px;
  background: rgba(42, 37, 75, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.benefits-btn:hover {
  background: rgb(71, 63, 124);
}

@media screen and (max-width: 600px) {
  .benefits .container {
    padding-top: 0px;
  }
  .benefits-content {
    margin: 0 auto;
  }

  .benefits-bottom {
    margin-top: 0px;
  }

  .benefits-input {
    background: rgba(249, 249, 249, 1);
    padding: 17px 32px 17px 75px;
    margin-right: 0px;
  }

  .benfits-title {
    padding-top: 48px;
  }

  .benefits {
    background-color: white;
    padding-top: 0;
  }
}

@media screen and (max-width: 456px) {
  .benefits-btn {
    padding: 8px 32px;
    margin-top: 8px;
  }
}

@media screen and (max-width: 340px) {
  .container {
    padding-top: 30px;
  }
  .benefits-input {
    background: rgba(249, 249, 249, 1);
    padding: 15px 15px 15px 15px;
    margin-right: 0px;
  }

  .benfits-title {
    font-size: 22px;
    line-height: 35px;
  }
  .beneftits-desc {
    font-size: 16px;
  }
}

/*================================== benefits*/

.brend .container {
  padding: 0 24px;
}
.brend-content {
  display: flex;
  /* margin-bottom: 54px; */
}
.brend-left {
  /* align-items: center; */
  padding-right: 100px;
}
.brend-left-title {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  padding-top: 72px;
  color: rgba(42, 37, 75, 1);
}
.brand-left-desc {
  padding-top: 25px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: center;
  color: rgba(80, 89, 119, 1);
}
.brend-left-btn {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 150px;
  background: rgba(249, 249, 249, 1);
  padding: 16px 32px;
  color: rgba(42, 37, 75, 1);
  cursor: pointer;
}

.brend-left-btn:hover {
  background: rgb(243, 241, 241);
}
.brend-right img {
  width: 720px;
  height: 603px;
  display: flex;
  right: 0;
  margin-right: -143px;
}

@media screen and (max-width: 1192px) {
  .brend-left-btn {
    margin-top: 100px;
  }

  .brend-left {
    padding-right: 50px;
  }
}

@media screen and (max-width: 1080px) {
  .brend-content {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .brend-left {
    display: inline-block;
    text-align: center;
  }
  .brend .container {
    padding: 0px;
  }

  .brend-right {
    width: 100%;
  }
  .brend-left-btn {
    margin-top: 80px;
  }

  .brend-right img {
    width: 100%;
    margin-top: 20px;
  }
}

@media screen and (max-width: 800px) {
  .brend-left {
    padding: 24px;
  }
  .brend-content {
    display: flex;
    flex-wrap: wrap;
  }
  .brend-left-btn {
    margincleccclear-top: 40px;
    text-align: center;
  }

  .brend-right img {
    margin-top: 20px;
    text-align: center;
  }

  .brend-left-title {
    padding-top: 0px;
  }
}

@media screen and (max-width: 400px) {
  .brend-content {
    display: flex;
    flex-wrap: wrap;
  }
  .brend-left-btn {
    margin-top: 64px;
    margin-bottom: 15px;
    text-align: center;
  }

  .brend-right {
    display: none;
  }
}

/* ========================== brend */

footer {
  background: rgba(42, 37, 75, 1);
}
.ft-top {
  padding-top: 58px;
  display: flex;
  justify-content: space-between;
}
.ft-links {
  display: flex;
  justify-content: space-between;
  gap: 109px;
}

.ft-links ol,
li,
a {
  padding-bottom: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.9px;
  color: rgba(255, 255, 255, 1);
}

.ft-links a:hover {
  color: rgb(205, 193, 193);
}

.ft-right-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.68px;
  color: rgba(255, 255, 255, 1);
}
.ft-right-inp_btn {
  margin-top: 16px;
}
.ft-inp {
  padding: 17px 306px 17px 32px;
  background: rgba(255, 255, 255, 0.15);
  color: white;
}
.ft-inp::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  color: rgba(255, 255, 255, 1);
}
.ft-btn {
  padding: 17px 32px;
  color: rgba(42, 37, 75, 1);
  background: rgba(255, 255, 255, 1);
  margin-left: -6px;
}
.ft-bottom {
  border-top: 1px solid white;
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
  justify-content: space-between;
}
.ft-bottom-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.9px;
  color: rgba(255, 255, 255, 1);
}
.ft-bottom-icon {
  display: flex;
  gap: 24px;
}

@media screen and (max-width: 1300px) {
  .footer .container {
    padding: 0 24px;
  }
}

@media screen and (max-width: 1080px) {
  .ft-inp {
    padding: 17px 100px 17px 32px;
    background: rgba(255, 255, 255, 0.15);
  }
}

@media screen and (max-width: 890px) {
  .ft-inp {
    padding: 17px 20px 17px 20px;
    background: rgba(255, 255, 255, 0.15);
  }
  .ft-btn {
    padding: 17px 15px;
  }

  .ft-links {
    display: flex;
    justify-content: space-between;
    gap: 60px;
  }
}

@media screen and (max-width: 600px) {
  .ft-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 16px;
  }
  .ft-links {
    display: flex;
    justify-content: space-between;
    gap: 96px;
  }
  .ft-bottom-icon {
    display: none;
  }

  .ft-right {
    margin-top: 40px;
  }

  .ft-bottom-text {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 370px) {
  .ft-links {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    /* flex-wrap: wrap; */
  }
}

@media screen and (max-width: 342px) {
  .ft-btn {
    margin-top: 10px;
    margin-left: 0px;
  }
}

/* =========================== footer */
